<h1><%=link_to "健身論壇", root_path%></h1>
<br/>
<%= link_to "關於本站", about_topics_path , :class => "btn btn-primary"%>
<%if current_user != nil %>
<%= link_to "新增文章", new_topic_path , :class => "btn btn-success"%>
<%end%>
<br/>

<div>
  <h4>選擇類別</h4></td>
  <%=link_to "All", root_path, :class => "btn btn-info" %>
  <%@categories.each do |c|%>
  <%=link_to c.name, topics_path(:category => c), :class => "btn btn-info" %>
  <%end%>
</div>
<br>

<%=link_to "按回覆排序", topics_path( :order => "most_comment", :category => params[:category]), :class => "btn btn-default" %>

<%=link_to "按回覆時間排序", topics_path( :order => "last_comment", :category => params[:category]), :class => "btn btn-default" %>

<%=link_to "按觀看人數排序", topics_path( :order => "view", :category => params[:category]), :class => "btn btn-default" %>

<%=link_to "按文章時間排序", topics_path( :order => "default", :category => params[:category]), :class => "btn btn-default" %>

<%if current_user != nil %>
  <%=link_to "找自己的文章", topics_path(:user => current_user ), :class => "btn btn-default" %>
<%end%>
<br/>
<br/>
<table class="table table-striped">
  <tr>
    <td>討論話題</td>
    <td>分類</td>
    <td>發帖人</td>
    <td>參與討論用戶</td>
    <td>觀看</td>
    <td>回覆</td>
    <td>最後回覆時間</td>
    <td>最後回覆用戶</td>

    <%if current_user != nil %>
      <td>狀態</td>
      <td>編輯</td>
      <td>刪除</td>
    <%end%>
  </tr>


  <%@topics.each do |t|%>
    <%if t.state != "草稿" || (t.state == "草稿" && t.user == current_user) %>
      <tr>
        <td> <%=link_to t.name, topic_path(t,:page=>params[:page])%></td>
        <td> <%=t.category.try(:name)%> </td>
        <td> <%=t.user.try(:user_name)%> </td>

        <%topic_comment_users = t.comments.map{ |c| c.user.try(:user_name)}%>
        <%topic_comment_users.uniq!%>
        <td>
        <%  topic_comment_users.each do |c| %>
        <%= c %>
        <%end%>
        </td>
        <td> <%=t.view%> </td>
        <% t.most_comment = t.comments.count %>
        <% t.last_comment = t.comments.last.try(:created_at) %>
        <%t.save%>
        <td> <%=t.most_comment%> </td>
        <td> <%=t.last_comment%> </td>
        <td> <%=t.comments.last.try(:user).try(:user_name) %> </td>
        <%if current_user != nil %>
          <td>
          <%if current_user == t.user%>
            <%=t.state%>
          <%end%>
          </td>
          <td>
            <%if current_user == t.user%>
              <%=link_to "編輯", edit_topic_path(t,:page=>params[:page]), :class => "btn btn-info" %>
            <%end%>
          </td>
          <td>
            <%if current_user == t.user%>
              <%=link_to "刪除", topic_path(t,:page=>params[:page]), :method => :delete, :class => "btn btn-danger" %>
            <%end%>
          </td>
        <%end%>
      </tr>
    <%end%>
  <%end%>
</table>
<%= paginate @topics%>