  <div class="row">
    <div class="col-sm-12">
      <div>
        <%= link_to "關於本站", about_topics_path , :class => "btn btn-primary"%>
        <%if current_user != nil %>
        <%= link_to "新增文章", new_topic_path , :class => "btn btn-success"%>
        <%end%>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-9">
        <%=link_to "類別選擇", "#", :class => "btn btn-primary", :disabled => true %>
        <%=link_to "All", root_path, :class => "btn btn-info" %>

        <% @categories.each do |c| %>
          <% is_active = ( c.id.to_s == params[:category] )? " btn-warning" : " btn-info" %>

          <%= link_to topics_path(:category => c), :class => "btn category_color #{is_active}" do %>
              <%=  c.name %>
              <span class="badge"><%=c.topics.count%></span>
          <% end %>

        <% end %>
    </div>

    <div class="col-sm-3 right">
      <%= form_tag topics_path, :method => :get do %>
      <%= text_field_tag "keyword" %>
      <%= submit_tag "Search", :class => "btn btn-default"%>
      <% end %>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col-sm-12">
        <%=link_to "標籤選擇", "#", :class => "btn btn-danger", :disabled => true %>
        <%=link_to "All", root_path, :class => "btn btn-danger" %>

        <% @tags.each do |c| %>
          <% is_active = ( c.id.to_s == params[:tag] )? " btn-warning" : " btn-danger" %>

          <%= link_to topics_path(:tag => c), :class => "btn category_color #{is_active}" do %>
              <%=  c.name %>
              <span class="badge"><%=c.topics.count%></span>
          <% end %>

        <% end %>
    </div>
  </div>

<br>

  <div class="row">
    <div class="col-sm-12">
      <%=link_to "按回覆排序", topics_path( :order => "most_comment", :category => params[:category], :tag => params[:tag]), :class => "btn btn-default" %>

      <%=link_to "按回覆時間排序", topics_path( :order => "last_comment", :category => params[:category],:tag => params[:tag]), :class => "btn btn-default" %>

      <%=link_to "按觀看人數排序", topics_path( :order => "view", :category => params[:category], :tag => params[:tag]), :class => "btn btn-default" %>

      <%=link_to "按文章時間排序", topics_path( :order => "id", :category => params[:category], :tag => params[:tag]), :class => "btn btn-default" %>

      <%if current_user != nil %>
        <%=link_to "找自己的話題", topics_path(:user => current_user ), :class => "btn btn-default" %>
      <%end%>
    </div>
  </div>

<br/>

<%= form_tag bulk_delete_topics_path do %>

<table class="table table-striped">
  <tr>
    <%if current_user != nil %>
        <%if current_user.role == "admin" %>
      <td>
          <%= check_box_tag "all_topics" %>
        <%end%>
      </td>
    <%end%>
    <td>討論話題</td>
    <td>分類</td>
    <td>Tag</td>
    <td>參與討論用戶</td>
    <td>觀看</td>
    <td>回覆</td>
    <td>最後回覆時間</td>
    <td>最後回覆用戶</td>
    <td>發帖人</td>
    <%if current_user != nil %>
      <td>狀態</td>
      <td>編輯</td>
      <td>刪除</td>
    <%end%>
  </tr>


  <%@topics.each do |t|%>
      <tr>
        <%if current_user != nil %>
          <%if current_user.role == "admin" %>
        <td>
            <%= check_box_tag "ids[]", t.id, false %>
        <%end%>
        </td>
        <%end%>
        <!-- 主題名稱 -->
        <td>
        <%=link_to t.name, topic_path(t,:page=>params[:page])%>
        </td>
        <!-- 類別 -->
        <td>
        <%=t.category.try(:name)%>
        </td>
        <!-- tag -->
        <td>
          <%t.tags.each do |tag|%>
           <%=tag.name%>
          <%end%>
        </td>
        <!-- 參與討論用戶 -->
            <%topic_comment_users = t.comments.map{ |c| c.user }%>
            <%topic_comment_users.uniq!%>
        <td>
        <%  topic_comment_users.each do |c| %>
          <%= link_to introduction_path(c), :id => "pic" do%>
          <%=image_tag(Gravatar.new(c.email).image_url,:size => "15x15")%>
          <%= c.user_name%>
          <%end%>
        <%end%>
        </td>
        <!-- 觀看次數 -->
        <td> <%=t.view%> </td>
        <!-- 最多回覆 -->
        <%t.most_comment = t.comments.count%>
        <td> <%=t.most_comment%> </td>
        <!-- 最後回覆 -->
        <%t.last_comment = t.comments.last.try(:created_at)%>
        <td> <%=t.last_comment.try(:strftime, "%Y-%m-%d %T") %> </td>
        <!-- 最後回覆用戶 -->
        <td> <%=t.comments.last.try(:user).try(:user_name) %> </td>
        <td>
        <!-- 發帖人 -->
        <%=link_to introduction_path(t.user.id), :id => "pic" do%>
          <%=image_tag(Gravatar.new(t.user.email).image_url,:size => "15x15")%>
          <%=t.user.try(:user_name)%>
        <%end%>
        </td>
        <%if current_user != nil %>
          <td>
          <%if current_user == t.user || current_user.admin?%>
            <%=t.state%>
          <%end%>
          </td>
          <td>
            <%if current_user == t.user || current_user.admin?%>
              <%=link_to "編輯", edit_topic_path(t,:page=>params[:page]), :class => "btn btn-success" %>
            <%end%>
          </td>
          <td>
            <%if current_user == t.user || current_user.admin?%>
              <%=link_to "刪除", topic_path(t,:page=>params[:page]), :method => :delete, :class => "btn btn-danger" %>
            <%end%>
          </td>
        <%end%>
      </tr>
  <%end%>
</table>
  <%if current_user %>
    <%if current_user.role == "admin" %>
      <%= submit_tag "選取刪除" ,:class => "btn btn-danger"%>
    <% end %>
  <% end %>
<% end %>

<%= paginate @topics, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm"%>


<script>
$(document).ready(function() {
    $("#all_topics").click(function(){
      if ( $(this).prop("checked")) {
         console.log("11111")
        $("input[name='ids[]']").prop("checked",true)
      } else {
        console.log("dsdf")
        $("input[name='ids[]']").prop("checked",false)
      }
    });
 });
</script>

