<h1><%=@topic.name%>  <span class="fb-like"></span></h1>
<p><%=@topic.article%></p>
<%if @topic.picture.try(:upload) != nil%>
<div><%=image_tag(@topic.picture.upload.url(:medium), alt: "article_p")%></div>
<br>
<%end%>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">誰有收藏這篇文章？</h3>
  </div>
  <div class="panel-body" id="cc">
    <%=@cc%>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">誰有like這篇文章？</h3>
  </div>
  <div class="panel-body" id="ll">
    <%=@ll%>
  </div>
</div>


<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">誰有訂閱這篇文章？</h3>
  </div>
  <div class="panel-body" id="ss">
    <%=@ss%>
  </div>
</div>
<br>

<%=link_to "回首頁", root_path(:page=>params[:page]), :class => "btn btn-primary"%>


<%=link_to collect_topic_path(@topic,:page=>params[:page]), :class => "btn #{@is_collect} ", remote: true, :id => "col" do%>
<span id="col-name"><%=@is_collect_name%></span>
<span class="badge" id="col-number"><%=@topic.topic_user_collects.count%></span>
<%end%>

<%=link_to like_topic_path(@topic,:page=>params[:page]), :class => "btn #{@is_like}", remote: true, :id => "lik" do%>
 <span id="lik-name"><%=@is_like_name%></span>
 <span class="badge" id="lik-number"><%=@topic.likes.count%></span>
<%end%>

<%=link_to subscribe_topic_path(@topic,:page=>params[:page]), :class => "btn #{@is_subscribe}", remote: true, :id => "sub" do%>
 <span id="sub-name"><%=@is_subscribe_name%></span>
<span class="badge" id="sub-number"><%=@topic.subscribes.count%></span>
<%end%>


<br/>
<br/>
<table class="table table-striped" id="user_message">
<tr>
  <td>編號</td>
  <td>頭像</td>
  <td>發布人</td>
  <td>留言內容</td>
  <td>上傳圖片</td>
  <td>發布時間</td>
  <%if current_user != nil %>
  <td>編輯</td>
  <td>刪除</td>
  <%end%>
</tr>

<!-- 留言回覆 -->
<%=render @topic.comments%>
</table>

<!-- 文章留言，setup_comment是因為圖片在另一個model -->
<%if current_user != nil %>
  <%=form_for setup_comment(@comment), :url => topic_comments_path(@topic), remote: true do |t|%>
    <h2><%= t.label :user_comment, "留言:"%></h2>
    <%= t.text_area :user_comment, :class => "form-control post_content"%>
    <br/>

    <%= t.fields_for :picture do |picture_form| %>
    <p>
    <%= picture_form.label :upload, "上傳檔案" %>
    <%= picture_form.file_field :upload, :class => "post_picture" %>

    <% unless picture_form.object.new_record? %>
        <%= picture_form.label :_destroy, 'Remove:' %>
        <%= picture_form.check_box :_destroy %>
    <% end %>
    </p>
    <% end %>

    <%= t.submit "送出", :class => "btn btn-success"%>
  <%end%>
<%else%>
  <%= link_to('留言請先登入', new_session_path(:user)) %>
<%end%>