<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="fb-root"></div>

<div class="container">
  <div class="row">
    <% if current_user %>
      Hi,<%= current_user.user_name %>
      <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
      <%= link_to('修改密碼', edit_registration_path(:user)) %>
      |
      <%= link_to('個人簡介', edit_registration_path(:user)) %>
    <% else %>
      <%= link_to('註冊', new_registration_path(:user)) %>
      |
      <%= link_to('登入', new_session_path(:user)) %>
    <% end %>

    <%if flash[:notice].present?%>
      <br/>
      <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
    <%end%>
    <%if flash[:alert].present?%>
      <br/>
      <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <%end%>
    <%= yield %>
  </div>
</div>
</body>
</html>
